<h1>Edit User</h1>

<%= form_with model: @user do |form| %>

  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :phone %>
    <%= form.telephone_field :phone %>
  </div>

  <div>
    <%= link_to 'Change password' , edit_user_password_path , class: 'btn btn-primary'%>
  </div>

  <%= form.submit 'Save Changes', class: 'btn btn-primary mt-3' %>

<% end %>
