<div class="container mt-4">
  <h1 class="text-center text-primary mb-4">User: <%= @user.username %></h1>

  <div class="row">
    <div class="col-md-6 mb-3">
      <strong>Email:</strong>
      <span><%= @user.email %></span>
    </div>

    <div class="col-md-6 mb-3">
      <strong>Username:</strong>
      <span><%= @user.username %></span>
    </div>

    <div class="col-md-6 mb-3">
      <strong>Phone:</strong>
      <span><%= @user.phone %></span>
    </div>

    <div class="col-md-6 mb-3">
      <strong>Role:</strong>
      <span><%= @user.role_int %></span>
    </div>

    <div class="col-md-6 mb-3">
      <strong>Active:</strong>
      <span>
        <% if @user.is_active %>
          <span>Yes</span>
        <% else %>
          <span>No</span>
        <% end %>
      </span>
    </div>

  </div>

  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary btn-sm' %>
</div>
