<header class="container mt-4">
  <h1 class="text-center">Main Menu</h1>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">
      <ul class="navbar-nav">

        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>

        <% if can? :read, Product%>
        <li class="nav-item">
          <%= link_to 'View products', products_path, class: 'nav-link' %>
        </li>
        <% end %>

        <% if can? :read, User %>
        <li class="nav-item">
          <%= link_to 'View users', '/users', class: 'nav-link' %>
        </li>
        <% end %>
        
      </ul>

      <% if user_signed_in? %>
        <ul class="navbar-nav ms-auto">
          <!-- Botón para "Profile" -->
          <li class="nav-item">
            <%= link_to 'Profile', user_path(current_user), class: 'btn btn-info m-2' %>
          </li>
          <!-- Botón para "Log out" -->
          <li class="nav-item">
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-danger m-2' %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary' %>
          </li>
        </ul>
      <% end %>

    </div>
  </nav>

  <hr>
</header>

