<header class="container mt-4">
  <h1 class="text-center">Main Menu</h1>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">

        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% if can? :read, Product %>
              <li class="nav-item">
                <li><a class="dropdown-item" href=<%=products_path%>>Products list</a></li>    
              </li>
            <% end %>

              <li class="nav-item">
                <li><a class="dropdown-item" href=<%=categories_path%>>Categories</a></li>    
              </li>
          </ul>
        </li>
        
        <!-- Falta validaciones de CanCanCan -->
        <!-- Falta validaciones de CanCanCan -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sales
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% if can? :read, Product %>
              <li class="nav-item">
                <li><a class="dropdown-item" href=<%=sales_path%>>Sales list</a></li>    
              </li>
            <% end %>

              <li class="nav-item">
                <li><a class="dropdown-item" href=<%=clients_path%>>Clients</a></li>    
              </li>
          </ul>
        </li>


        <% if can? :read, User %>
        <li class="nav-item">
          <%= link_to 'Users', users_path, class: 'nav-link' %>
        </li>
        <% end %>

        <!-- Menú Desplegable -->
        

      </ul>

      <% if user_signed_in? %>
        <ul class="navbar-nav ms-auto">
          <!-- Botón para "Profile" -->
          <li class="nav-item">
            <%= link_to 'Profile', user_path(current_user), class: 'btn btn-info m-2' %>
          </li>
          <!-- Botón para "Log out" -->
          <li class="nav-item">
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-danger m-2' %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary' %>
          </li>
        </ul>
      <% end %>

    </div>
  </nav>

  <hr>
</header>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

