<div class="container mt-5">
  <h1 class="text-center text-primary">Welcome to the Sportswear Store</h1>
  <p class="text-center">Explore our collection of sportswear.</p>
  
  <!-- Formulario de búsqueda y filtro -->
  <div class="d-flex justify-content-center mb-4">
    <%= form_with url: root_path, method: :get, local: true, class: "d-flex" do %>
      <!-- Campo de búsqueda por nombre de producto -->
      <%= text_field_tag :search, params[:search], placeholder: "Search for products", class: "form-control me-2", aria: { label: "Search for products" } %>

      <!-- Filtro por categoría -->
      <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), prompt: "Select category", class: "form-select me-2" %>

      <!-- Botón de búsqueda -->
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <!-- Resultados de la búsqueda y filtro -->
  <div id="products">
    <% if @products.present? %>
      <ul class="list-unstyled">
        <% @products.each do |product| %>
          <li class="mb-3">
            <h5><%= product.name %></h5>
            <p><%= product.category.name %></p>
            <p><%= number_to_currency(product.price) %></p>
            <p><%= product.description %></p> <!-- Descripción del producto -->
            <hr> <!-- Separador entre productos -->
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-center">No products found.</p>
    <% end %>
  </div>

</div>



