<h1> Edit product </h1>

<%= form_with model: @product do |form| %>

    <div>
        <%= form.label :name%>
        <%= form.text_field :name%>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.label :price %>
        <%= form.number_field :price %>
    </div>

    <div>
        <%= form.label :stock %>
        <%= form.number_field :stock %>
    </div>

    <div>
        <%= form.label :size %>
        <%= form.select :size, ["S", "M", "L"], include_blank: true  %>
    </div>

    <div>
        <%= form.label :color %>
        <%= form.select :color, ["Red", "Blue", "Green"], include_blank: true  %>
    </div>

    <div>
        <%= form.label :category %>
        <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: true } %>
    </div>

    <!-- Section to add and remove images from product -->

    <% @product.images.each do |image| %>
        <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
    <% end %>

    <div>
        <%= form.label 'Images to add' %>
        <%= form.file_field :images, multiple: true %>

    </div>

<!-- Deleting images from product incomplete
    <div>
        <%= form.label 'Images to remove' %>
        <% @product.images.each do |image| %>
            <div>
                <%= image_tag image, size: "100x100" %> <%= check_box_tag :image, image.signed_id, false, id: "checkbox_#{image.signed_id}" %>
            </div>
        <% end %>
    </div>
-->

    <%= form.submit %>


<% end %>

<script>
document.addEventListener("DOMContentLoaded", function() {

    const checkboxes = document.querySelectorAll('input[type="checkbox"]');

    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener("change", function() {

            const hiddenInput = document.getElementById(`hidden_input_${checkbox.value}`);

            if (checkbox.checked) {
                
            } else {
                
            }
        });
    });
});

</script>