<h1> Edit product </h1>

<%= form_with model: @product do |form| %>

    <div>
        <%= form.label :name%>
        <%= form.text_field :name%>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.label :price %>
        <%= form.number_field :price %>
    </div>

    <div>
        <%= form.label :stock %>
        <%= form.number_field :stock %>
    </div>

    <div>
        <%= form.label :size %>
        <%= form.text_field :size %>
    </div>

    <div>
        <%= form.label :color %>
        <%= form.select :color, ["Red", "Blue", "Green", "Black", "White"], { include_blank: true } %>
    </div>

    <div>
        <%= form.label :category %>
        <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: true } %>
    </div>

    <!-- Section to add and remove images from product -->

    <% @product.images.each do |image| %>
        <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
    <% end %>

    <div>
        <%= form.label 'Images to add' %>
        <%= form.file_field :images, multiple: true %>

    </div>

    <%= form.submit %>


<% end %>