<h1> Products's list </h1>

<div>
    <%= link_to 'Add new product', new_product_path %>
</div>

<p> Products's count : <%= @products.count %> </p>

<% if @products.count > 0%>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
                <th>Color</th>
                <th>Size</th>
                <th>Stock</th>
                <th>Images</th>
            </tr>
        </thead>

        <tbody>
            <% @products.each do |product| %>
            <tr>
                <td><%= link_to product.name, product_path(product) %></td>
                <td><%= product.price %></td>
                <td><%= product.description %></td>
                <td><%= product.category.name %></td>
                <td><%= product.color %></td>
                <td><%= product.size %></td>
                <td><%= product.stock %></td>
                <% if product.images.attached? %>
                    <td><%= image_tag product.images.first, size: "100x100" %></td>
                <% end %>
                
                
            </tr>
            <% end %>
        </tbody>
    </table>

<% else %>

<p> There are no products to show </p>

<% end %>