<div class="container mt-4">
  <h1 class="text-center text-primary mb-4">Product: <%= @product.name %></h1>

  <div class="row">
    <div class="col-md-6 mb-3">
      <strong>Name:</strong>
      <span><%= @product.name %></span>
    </div>

    <div class="col-md-6 mb-3">
      <strong>Price:</strong>
      <span><%= number_to_currency(@product.price) %></span>
    </div>

    <div class="col-md-12 mb-3">
      <strong>Description:</strong>
      <p><%= @product.description %></p>
    </div>

    <div class="col-md-6 mb-3">
      <strong>Category:</strong>
      <span><%= @product.category.name %></span>
    </div>

    <div class="col-md-6 mb-3">
      <strong>Color:</strong>
      <span><%= @product.color %></span>
    </div>

    <div class="col-md-6 mb-3">
      <strong>Size:</strong>
      <span><%= @product.size %></span>
    </div>

    <div class="col-md-6 mb-3">
      <strong>Stock:</strong>
      <span><%= @product.stock %></span>
    </div>

    <div class="col-md-12 mb-3">
      <strong>Images:</strong>
      <div class="d-flex flex-wrap">
        <% @product.images.each do |image| %>
          <%= image_tag image, size: "100x100", class: 'img-thumbnail m-2' %>
        <% end %>
      </div>
    </div>

  </div>
</div>